{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div>
    <h1 class="bg-blue-500 text-2xl text-center font-bold">Hello {{ controller_name }}! ✅</h1>
    <div>
        <span class="countdown font-mono text-6xl">
            <span style="--value: 60;"></span>
        </span>
    </div>
    <div class="alert shadow-lg">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            <span>12 unread messages. Tap to see.</span>
        </div>
    </div>
</div>
{% endblock %}
